/* Everything that needs to be centered */
body,
button,
img,
#userInput {
	margin: auto;
	display: table !important;
}

body {
	max-width: 1000px;
}

#banner {
	max-width: 60%;
	margin-top: 25px;
}
@media screen and (max-width: 750px) {
	#banner {
		max-width: 80%;
	}
}

#userInput {
	margin-top: 50px !important;
}
button {
	display: inline !important;
}
button:hover {
	text-decoration: none;
}
#buttons {
	margin-top: 5px;
	margin-bottom: 3px;
}
button:disabled {
	cursor: not-allowed;
}
.btn-outline-dark.focus, .btn-outline-dark:focus {
	/* Override the Bootstrap default; 0.2rem is too thick */
	box-shadow: 0 0 0 0.1rem rgba(52,58,64,.5);
}

.input-group>.form-control {
	flex: none !important;
}
.form-control, #results {
	width: 246px !important;
}
#results {
	width: 266px;
	margin: auto;
}
label {
	font-weight: 500;
	margin-bottom: .3rem;
	margin-top: 5px;
}
#tempInputs {
	width: 246px;
	margin: auto;
}
#minTemp, #maxTemp {
	margin: 0;
}

.spinner-border {
	margin-top: 60px;
	display: none;
}

.result {
	background-color: lightgray;
	border-radius: .25rem;
}
#noResultsTop {
	margin-top: 5px;
	margin-bottom: 2.5px;
}
.cityName, .cityTemp {
	line-height: 20px;
	margin-top: 4px;
	margin-bottom: 0px;
	padding-left: 5px;
}
.cityName {
	padding-top: 3px;
}
.cityTemp {
	padding-bottom: 3px;
}